html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CSS coding for @media 1000px- 977px starts here */

*{
    background-color: lavenderblush;
}
h1{
    font-weight: bolder;
    font-size: 5.5rem;
    color:orange;
}
header {
    display:flex;
    justify-content: space-around;
    font-family: 'Dancing Script', cursive;
}
header nav{
    margin-left: 120px;
    margin-top: 60px;
}
header nav a{
    font-size: 1.7rem;
    padding : 0 10px;
    text-decoration: none;
    color: red;
}
h2{
text-align: center;
font-family: 'Dancing Script', cursive;
font-weight: bold;
font-size: 3rem;
color:coral;
margin: 20px 0;
}
.who{
    display : flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.who p{
    text-align:center;
    font-size: 1.8rem;
    margin: 10px 0;
    color: palevioletred;
    font-family: 'Dancing Script', cursive;
}
#githubshanda{
   width: 10%;  
}
#githubshanda:hover{
    width:15%;
}
#githubvee{
    width: 10%;  
 }
 #githubvee:hover{
     width:15%;
 }
 #githubashley{
    width: 10%;  
 }
 #githubashley:hover{
     width:15%;
 }
 #githubtim{
    width: 10%;  
 }
 #githubtim:hover{
     width:15%;
 }
 #githubmanuel{
    width: 10%;  
 }
 #githubmanuel:hover{
     width:15%;
 }
 .contact{
    text-align: center;
    margin: 30px 0;
    font-family: 'Dancing Script', cursive;
}
.contact a{
    border:1px solid plum;
    background:plum;
    border-radius: 20px;
   text-decoration: none;
   padding:20px;
    font-size: 1.7rem;
    color: purple;
}
.contact a:hover{
    background: rosybrown;
    color:thistle;
}
footer {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
footer nav{
    margin-top: 10px; 
}
footer nav a{
    font-size: 1.7rem;
     margin : 0 20px; 
    text-decoration: none;
    color: red;
}
 nav a:hover{
    color: indianred;
}
.copyright{
    font-size: 1rem;
    padding: 10px 0;
    text-align:center;
    margin-top: 20px;
    color:salmon;
}

/* Here is the code for @media 800px-776px */
@media(max-width : 800px){
    h1{
        font-size: 5rem;
    }
    header nav{
        margin-left: -10px;
       margin-top: 50px;
    }
}

/* Here is the code for @media 500px-713px */
@media(max-width : 500px){
    h1{
        font-size: 4rem;
        margin-bottom: 20px;
    }
    header {
        flex-flow: column wrap;
        text-align: center;
    }
    header nav a{
        font-size: 20px;
       padding : 0 40px;
    }
    h2{
        font-size: 2.3rem;
    }
    .who img{
        width:100%;
    }
    footer{
        margin:20px;
    }
}